header {
  margin: 0px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: deepskyblue;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

  section{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  article {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #b9882d;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    margin-top: 20px;
  }

  .desc{
    margin-right: auto;
  }

  .date, .pric {
    background-color: wheat;
    margin: 1px;
    width: 200px;
    min-width: 200px;
  }  

  .desc, .date, .pric {
    padding: 10px;
  }

  .section2{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .article2{
    display: flex;
    min-width: 600px;
  }

  .jobsName{
    width: 200px;
    min-width: 200px;
    background-color: rgb(149, 16, 16);
  }

  .jobsDesc {
    width: 100%;
    background-color: #ce711a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-flex: 7;
        -ms-flex-positive: 7;
            flex-grow: 7;
  }
  
  .jobsDesc button {
    background-color: #951010;
    border-radius: 25%;
    border-style: inset;
    margin: 5px;
  }

   .jobsDesc, .jobsName{
    margin: 15px;
    padding: 10px;
    color: white;
  }

  header button, div button {
    color: white;
    background-color: #ff7300;
    padding: 10px;
    margin: 5px;
  }